{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE | Création d'un nouvel article{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">
    {% if editMode %}
            BACK OFFICE | Modification de l'article

        {%  else %}
            BACK OFFICE | Création d'un nouvel article
        
        {% endif %}  
    <small><a href=" {{ path('admin_category') }}" class="btn btn-dark btn-sm">retour</a></small>
    </h1>

    {{ form_start(formArticle, { 'attr' : {'class' : 'col-md-5 mx-auto'} }) }}

        {{ form_row(formArticle.title, { 'attr' : {'placeholder' : "Titre de l'article", 'title': "entre 2 et 50 caractères"}, 'label': "Titre de l'article" }) }}

        {{ form_row(formArticle.category, {'label': "Catégorie" }) }}

        {{ form_row(formArticle.content, { 'attr' : {'placeholder' : "Contenu de l'article", "rows": 10}, 'label': "Contenu de l'article" }) }}

        {{ form_row(formArticle.image, { 'attr' : {'placeholder' : "URL de l'image"}, 'label': "URL de l'image" }) }}


        <button type="submit" class="btn btn-dark">

        {% if editMode %}
            Enregistrer les modifications

        {%  else %}

            Enregistrer l'article
        
        {% endif %}
        </button>

    {{ form_end(formArticle) }}

{% endblock %}  